 <!DOCTYPE html>
 <html>
 <head>
   <title></title>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body>
 

 <!-- <h2>Top Frequently Ask Question</h2> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="background: #F9CF00; text-align: center;">
       <h3>Terms and Conditions</h3>
    </div>
     <div class="col-sm-12" >
    
<p>
Website.com collects and uses personal data as needed in order for us to provide you with top-notch websites, products, services, and support (collectively, our "Services"). Your personal data includes information such as:

Name
Address
Phone number
Email address
Other data that could directly or indirectly identify you
Our Privacy Policy will explain to you what data we collect, and how we use your personal data. It also describes how you can access, update, or otherwise take control of the personal data that we have collected from you.


</p>
     </div>
 <div class="col-sm-12" >
 <h4>  2. Services </h4>
<p>
Website.com offers Subscribers domain name registration, website hosting, and email hosting services for the duration of the service term purchased from Website.com.

Services are provided on the basis of facility and equipment availability. Website.com reserves the right to modify, change, or discontinue any aspect of the Services at any time.

Access to the web and email servers is terminated upon expiry of the Service.

Details regarding your account can be found in your account control panel (https://www.website.com/sign-in/)
</p>
 </div>

 <div class="col-sm-12" >
 <h4>  3. Responsibility </h4>
<p>

When you apply to use Website.com services, you will be asked to select a Subscriber ID and Password. The Subscriber ID and Password are the means through which you access certain services. You acknowledge and agree that it is your responsibility to safeguard the Subscriber ID and Password you select from any unauthorized use. IN NO EVENT WILL WEBSITE.COM BE LIABLE FOR THE UNAUTHORIZED USE OR MISUSE OF YOUR SUBSCRIBER ID OR PASSWORD.

Subscribers are responsible for maintaining accurate account information at all times, including credit card and contact information. This information can be updated in your account control panel.
</p>
  </div>


 <div class="col-sm-12" >
 <h4>  4. Notices </h4>
<p>
 

You agree that, unless other instructions are posted on Website.com's website, any notices required to be given under this Agreement will be deemed to have been given if delivered by email or fax, or sent by registered mail or by courier to each of the parties in accordance with the most current contact information you have provided to us, and the contact information for Website.com posted on the Website.com website. All notices shall be effective upon receipt, except that email and fax notices shall be effective upon transmission.
</p>
</div>

 <div class="col-sm-12" >
 <h4>  5. Privacy </h4>
<p> 

The Website.com Privacy Policy sets out our obligations with respect to the safeguarding, collection and use of Subscribers' personal information. The Website.com Privacy Policy is subject to modification from time to time, and such changes are effective upon posting of the modified policy to this URL: http://www.website.com/privacy-policy/

Email newsletters will only be sent directly by Website.com. Subscriber information will not be disclosed or sold to any third parties. You may also be contacted by Website.com's designated customer review software provider for customer experience and service feedback.
</p>
</div>


 </body>
 </html>



 


 